@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This was my first web application built using MicroSoft's ASP.NET and MVC 5 framework. It was built using the guidlines from the fundamentals course taught by Scott Allen on Pluralsight.</p>
