@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    David Sher<br />
</address>

<address>
    <strong>GitHub:</strong>   <a href="https://github.com/Dave-92-stack">Dave-92-Stack</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/dave-sher/">linkedin.com/in/dave-sher</a>
</address>